@import './variables';

.winterfell-form-builder {
  .btn-group {
    display: flex;
    .btn {
      flex: 1;
      .caret {
        float: right;
        margin-top: 8px;
      }
    }
  }
  .input-group .form-control:first-child {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    -webkit-appearance: none;
  }
  #pagination {
    text-align: left;
  }
  .btn-block + .btn-block {
    margin-top: 0;
  }
}
.winterfell-form-builder-field-editor {
  // overflow-y: auto;
  #edit-question-id-label {
    font-weight: normal;
  }
  .dropdown.btn-group {
    display: block;
  }

  td input,
  td button {
    border-radius: 0;
  }

  .btn {
    font-size: 12px;
  }
  .form-control {
    font-size: 12px;
  }
}

.winterfell-form-builder-page-editor {
  border-left: 1px solid #eee;
  margin-left: -1px;
  padding-left: 16px;
}
.winterfell-form-builder-question-set {
  h4 {
    margin-top: 2px;
  }
}

.winterfell-form-builder-selector {
  text-align: left;
  border: 2px dashed #ccc;
  border-radius: 0;
  white-space: normal;
  margin-top: 1px;
  padding: 15px;
  &:hover {
    text-align: left;
    border: 2px dotted #ccc;
    background: #eee;
  }
  &:hover:before {
    content: 'Edit';
    position: absolute;
    right: 20px;
    font-size: 12px;
  }
}

.winterfell-form-builder-page-sorter {
  padding-top: 10px;
}

.winterfell-form-builder-conditional-page,
.winterfell-form-builder-conditional-questions {
  padding-top: 10px 5px;
  border: 1px solid #eee;
  border-radius: 3px;
  margin: 0;
  .btn {
    border-radius: 4px;
  }
}

.winterfell-form-builder-tree-view {
  overflow: overlay;
  overflow-y: scroll;
  height: 30vh !important;
  border: 1px solid #ccc;
  border-radius: 4px;

  .btn-link {
    padding: 0;
  }
}

.winterfell-form-builder-field-editor .winterfell-form-builder-conditional-page,
.winterfell-form-builder-field-editor .winterfell-form-builder-conditional-questions {
  color: #36464e;
  position: absolute;
  left: 105%;
  width: 100%;
  z-index: 5;
  border: 1px solid #337ab7;
}
.winterfell-form-builder-field-editor .winterfell-form-builder-conditional-page {
  border: 1px solid #f0ad4e;
}

.winterfell-form-builder-field-editor .winterfell-form-builder-conditional-page::before,
.winterfell-form-builder-field-editor .winterfell-form-builder-conditional-questions::before {
  content: '';
  width: 0px;
  height: 0px;
  border: 0.8em solid transparent;
  position: absolute;
  left: -20px;
  top: 1px;
  border-right: 10px solid #337ab7;
}
.winterfell-form-builder-field-editor .winterfell-form-builder-conditional-page::before {
  border-right: 10px solid #f0ad4e;
}

.winterfell-form-builder .winterfell-form-builder-field-editor {
  .winterfell-form-builder-conditional-question {
    &.input-group > .form-control:first-child,
    &.input-group > .form-control:not(:first-child):not(:last-child),
    &.input-group-addon:not(:first-child):not(:last-child) {
      width: 50%;
    }
  }
}

.btn-group .material-icons {
  margin-left: -25%;
}
.icon-menu {
  position: absolute;
  padding: 0 1px;
}

.winterfell-form-builder-tab-bar {
  background-color: #fff;
  z-index: 5;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.winterfell-question-panel {
  display: grid;
  grid-template-rows: auto auto auto 20vh auto;
  grid-template-areas:
    'header'
    'body'
    'postBodyHeader'
    'postBody'
    'footer';

  .question-panel-header {
    grid-area: header;
  }
  .question-panel-body {
    grid-area: body;
    padding: 20px;
  }
  .question-panel-post-body-header {
    padding: 20px 20px 0 20px;
    grid-area: postBodyHeader;
  }
  .question-panel-post-body {
    grid-area: postBody;
    padding: 0px 20px 20px 20px;
    overflow-y: auto;
  }
  .question-panel-footer {
    grid-area: footer;
    padding: 0px 20px;
  }
}
.winterfell-suggestion-panel {
  padding: 15px;
  background-color: $early-sky;
  height: 100%;
  padding: 0 15px;
  overflow-y: auto;

  // .suggestion-header {
  //   margin-bottom: 20px;

  //   > img {
  //     height: 18px;
  //     margin-right: 10px;
  //   }
  //   .suggestion-header-text {
  //     font-size: 16px;
  //     font-weight: bold;
  //     color: $oxford-blue;
  //   }
  // }
  .suggestion-body {
    .suggestion-item {
      display: inline-block;
      padding: 5px 20px;
      margin: 5px 5px 5px 0px;
      border-radius: 30px;
      font-size: 16px;
      background-color: #fff;
    }
  }
}

.question-panel-post-body-header {
  .post-body-header {
    background-color: $early-sky;
    padding: 15px;

    .post-body-header-icon {
      height: 18px;
      margin-right: 10px;
    }
    .post-body-header-text {
      font-size: 16px;
      font-weight: bold;
      color: $oxford-blue;
    }
  }
}
.question-panel-footer {
  background-color: #bcc4cf;
  .prefill-action-bar {
    padding: 5px 0;

    .prefill-action-bar-icon {
      height: 18px;
      margin-right: 10px;
    }
    .prefill-action-bar-text {
      font-size: 13px;
      color: $oxford-blue;
      font-weight: bold;
    }
    .prefill-action-bar-action {
      float: right;
    }
  }
}
.winterfell-progress-incomplete {
  height: 100%;
  background-color: inherit;
  position: relative;

  .winterfell-progress-complete {
    height: 30px;
    line-height: 30px;
    text-align: right;
    padding-right: 5px;
    background-color: $ocean-boat-blue;
    color: $white-smoke;
    -webkit-transition: width 1s ease;
    transition: width 1s ease;
  }
}

.winterfell-button-bar {
  text-align: right;
  margin-top: 20px;
  border: none;
  background: inherit;

  .btn {
    border-bottom: none;

    &.no-button,
    &.yes-button {
      margin-left: 5px;
    }

    &.no-button {
      margin-left: 0;
      margin-right: 5px;
    }

    &.btn-back {
      float: left;
    }

    &.btn-hollow {
      border: 1px solid #007cba;
      color: #007cba;
      background-color: #fff;

      &:hover {
        background-color: #007cba;
        color: #fff;
      }
    }
  }

  &::after {
    content: '';
    clear: both;
    display: table;
  }

  &.final-btn-cont {
    @media (max-width: 62em) {
      display: flex;
      flex-direction: column-reverse;
      .btn {
        width: 100%;
        margin: 0px 0px 10px;
      }
    }
  }
}

.winterfell-progressbar {
  position: relative;
  height: 30px;
  // background-color: $white-smoke;
  padding: unset;
  border: none;
}

.winterfell-panel-preview {
  background: #fafbfc 0% 0% no-repeat padding-box;
}
.preview-modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.btn {
  &.btn-warning {
    color: $oxford-blue;
    background-color: $vanila-sky;
    border-color: $vanila-sky;
  }
}
